<ion-content>

    <div class="login-container">
        <form>
            <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <div class="errors">
                <ion-text color="danger">

                </ion-text>
                <ion-text color="danger">

                </ion-text>
            </div>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input></ion-input>
                <ion-icon></ion-icon>
            </ion-item>
            <div class="errors ">
                <ion-text color="danger">

                </ion-text>
                <ion-text color="danger">

                </ion-text>
            </div>
            <ion-button expand="block " type="submit ">Login</ion-button>
        </form>
        <ion-button expand="block " fill="clear " (click)="simButton()">
        </ion-button>
    </div>
</ion-content>